
<ion-view title="shout">
    <ion-content>
        <div class="list image iconic">

  <a class="item item-icon-left" href="beach.html">
    <i class="icon royal icon-beach"></i>
    <span class="label">Beach</span>
  </a>

  <a class="item item-icon-left" href="#">
    <i class="icon royal icon-water"></i>
    <span class="label">Water</span>
    </a>
  <a class="item item-icon-left" href="#">
    <i class="icon royal icon-walking"></i>
    <span class="label">Walking</span>
  </a>
  <a class="item item-icon-left" href="#">
    <i class="icon royal icon-ball"></i>
    <span class="label">Ball Sports</span>
  </a>
  <a class="item item-icon-left" href="#">
    <i class="icon royal icon-driving"></i>
    <span class="label">Driving</span>
  </a>
  <a class="item item-icon-left" href="#">
    <i class="icon royal icon-cycling"></i>
    <span class="label">Cycling</span>
  </a>
  <a class="item item-icon-left" href="#">
    <i class="icon royal icon-air"></i>
    <span class="label">Air sports</span>
  </a>
  <a class="item item-icon-left" href="at-work.html">
    <i class="icon royal icon-at-work"></i>
    <span class="label">At work</span>
  </a>


  </div>
    </ion-content>
</ion-view>