<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
<link href="css/icons.css" rel="stylesheet">
<link href="fonts/icons/style.css" rel="stylesheet">
<link href="css/iconic.css" rel="stylesheet">
    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <link href="lib/ion-gallery/ion-gallery.css" rel="stylesheet">
<script src="lib/ion-gallery/ion-gallery.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
<script src="js/controllers/categories.js"></script>
    <style>

    </style>
  </head>
  <body ng-app="shout">

    <ion-pane ng-controller="categories">
      <ion-header-bar class="bar-stable">
        <h1 class="title"><strong ng-click="backCategory()"><i class="ion-arrow-left-b"></i> <span ng-bind="title"></span></strong><a href="index.html"><i class="logo"></i></a></h1>
      </ion-header-bar>
      <ion-content>
     <div class="list iconic image">
<!--
Mountains
Forest
Town
Sea
Beach
Snow and Ice
Air
Driving
Walking
Cycling
Ball sports




-->
  <a ng-if="currentCategory" class="item item-icon-left">
    <i class="icon royal" ng-class="'icon-'+currentCategory.icon"></i>
    <span class="label"><span ng-bind="currentCategory.name"></span> Stuff</span>
  </a>
  <a ng-repeat="category in categories" class="item item-icon-left" ng-click="selectCategory(category)">
    <i class="icon royal" ng-class="'icon-'+category.icon"></i>
    <span class="label" ng-bind="category.name"></span>
  </a>

  <!--a class="item item-icon-left" href="#">
    <i class="icon icon-water"></i>
    <span class="label">Water</span>
    </a>
  <a class="item item-icon-left" href="#">
    <i class="icon icon-walking"></i>
    <span class="label">Walking</span>
  </a>
  <a class="item item-icon-left" href="#">
    <i class="icon icon-ball"></i>
    <span class="label">Ball Sports</span>
  </a>
  <a class="item item-icon-left" href="#">
    <i class="icon icon-driving"></i>
    <span class="label">Driving</span>
  </a>
  <a class="item item-icon-left" href="#">
    <i class="icon icon-cycling"></i>
    <span class="label">Cycling</span>
  </a>
  <a class="item item-icon-left" href="#">
    <i class="icon icon-air"></i>
    <span class="label">Air sports</span>
  </a-->


  </div>
  </ion-content>
    </ion-pane>


  </body>
</html>
