.list.image .icon {
	top: 10px;

    font-size: 32px;
    width: 32px;
    height: 32px;
    text-align: center;
}
.icon-right {
  float: right;
}
.button .icon:before, .button.icon:before, .button.icon-left:before, .button.icon-right:before {

    text-align: center;
    width: 1em;

  }

  .icon.image {
  
  background-repeat: no-repeat;
  background-position: 50%;
  background-size:contain;
  font-size: 32px;
    width: 32px;
    height: 32px;
    background-size: contain;
}
.icon.small {
	width: 24px;
    height: 24px;
    opacity: 0.5;
}


.iconic .item-icon-left .icon:before, .iconic .item-icon-right .icon:before {
    width: 100%;
}